<% provide(:title, "Sign in") %>
<h1>Sign In</h1>

<%= current_user %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag login_url do %>

      <%= label_tag :name %>
      <%= text_field_tag :name %>

      <%= label_tag :email %>
      <%= email_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Login", class: "btn btn-primary" %>
    <% end %>

    <center>Not registered yet? <%= link_to "Register", signup_path, class: "link" %></center>
  </div>
</div>