<img src="<%= restaurant.image_url %>" width="260" height="190"> <br>	
<a href="<%= restaurant.url %>"><%= restaurant.name %></a> <br>
<a href="tel:<%= restaurant.phone %>"><%= restaurant.phone %></a> <br>
<div class="ui label">
	Rating: <%= restaurant.rating %>
</div>
<div class="ui label">
	Price: <%= restaurant.price %>
</div> <br>
<% if !current_user %>
	<div class="ui lightgrey button">
		<%= button_to "Add to Top Restaurants", login_path %>
	</div>
<% else %>
	<div class="ui orange button">
		<%= button_to "Add to Top Restaurants", user_top_restaurants_path(current_user, @restaurant, method: :post), class: "ui small yellow button" %>
	</div>
<% end %>
 
