<img src="<%= restaurant.image_url %>" width="260" height="190"> <br>	
<a href="<%= restaurant.url %>"><%= restaurant.name %></a> <br>
<a href="tel:<%= restaurant.phone %>"><%= restaurant.phone %></a> <br>
<div class="ui primary button">
	Add to Top Restaurants
</div>