<img src="<%= restaurant.image_url %>" width="260" height="190"> <br>	
<a href="<%= restaurant.url %>"><%= restaurant.name %></a> <br>
<a href="tel:<%= restaurant.phone %>"><%= restaurant.phone %></a> <br>
<div class="ui label">
	Rating: <%= restaurant.rating %>
</div>
<div class="ui label">
	Price: <%= restaurant.price %>
</div> <br>
<div class="ui orange button">
	Add to Top Restaurants
</div>

<%= button_to "Add to Top Restaurants", user_top_restaurants_path(current_user, restaurant, method: :post), class: "ui small yellow button" %> 
